.example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
}

.example-sidenav {
  padding: 10px;
  border: 3px;
  border-bottom-color: whitesmoke;
  display: initial;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 90vh;
  background: rgba(255, 255, 255, .9) !important;
  background-color: midnightblue !important;
  visibility: visible;
  color: green;
  border: solid thin;
  border-color: whitesmoke;
}

#example-content{

  height: 90%;
}

.header {
  height: 60px;
  position: fixed;
  background-color: midnightblue !important;
  border: solid thin;
  border-color: whitesmoke;
  top: 0;
  right: 0;
  left: 0;
}

.footer {
  height: 60px;
  position: fixed;
  align-content: center;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: midnightblue !important;
  border: solid thin;
  border-color: whitesmoke;
}

.text-xs-center {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  height: 5vh;
  width: 100vw;
  background: url(/assets/background.jpg) fixed center no-repeat;
  background-size: cover;
  z-index: 1;
  padding: 0;
  margin: 0;
}

strong.title {
  align-content: space-evenly;
  text-align: center;
  width: 100vw;
}

.header-divider{
    width: 100vw;
}

#nav-button {
 background: url(/assets/Menu-Icon2.2.jpg) no-repeat;
 width: 43px;
 height: 43px;
 object-fit: contain;
}

.alert {
  align-content: center;
  text-align: center;
}

table {
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
   margin-top: 27%;
  margin-bottom: 50%;
  width: 33vw;
}
